@page
@model ToDoWebApp.Pages.AddTodoItemModel
@{
}
<form method="post">
    <input type="text" class="form-control" name="TodoItems.Name">
    <input type="checkbox" class="form-control" name="TodoItems.IsComplete">
    <input type="submit" />
</form>
