@page
@model ToDoWebApp.Pages.TodoItemModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using ToDoWebApp
@using TodoWebApp.CORE;

@{
}


<ol>    
    @foreach (TodoItem i in this.Model.todoList)
            {
                <li><a href="/TodoItemDetails/@i.TodoID">@i.Name</a> @i.IsComplete</li>                
            }
</ol>
<div>
    <a asp-page="/AddTodoItem">Add a TodoItem</a>
</div>