@page
@model ToDoWebApp.Pages.TodoItemModel
@using ToDoWebApp
@using TodoWebApp.CORE;

@{
}


<ol>    
    @foreach (TodoItem i in this.Model.todoList)
            {
                <li><a href="/TodoItemDetails/@i.TodoID">@i.Name</a> @i.IsComplete</li>                
            }
</ol>